/* General */
@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: var(--poppins-font);
}

/*variables*/
:root {
    --main-color:#040D12;
    --bg-color:#93B1A6;
    --btn-color:#183D3D;
    --text-color: #FFFFFF;
    --sec-color: #EBFF00;
    --poppins-font: "Poppins", sans-serif;
    --font-style: "Coda", system-ui;
}

/* Nav Bar */
body {
    font-family: var(--poppins-font);
}


section {
    max-height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

header {
    position: absolute;
    top: 2.5rem;
    left: 0;
    width: 100%;
    z-index: 100;
}
.nav {
    display: flex;
    margin: 0 12rem;
    justify-content: space-between;
    align-content: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3.5rem;
}

.nav-link {
    font-size: 2em;
    color: var(--text-color);
    font-family: var(--poppins-font);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:hover {
    color: var(--sec-color);
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-contact {
    display: flex;
    font-size: 2em;
}

.nav-contact {
    background-color: #2d5d5d;
    color: var(--text-color);
    border-radius: 16px;
    padding: 8px 18px;
}

.nav-contact:hover {
    background-color: var(--btn-color);
    color: var(--sec-color);
}

/* Home Section */
.home {
    background-color: var(--main-color);
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    padding-top: 13em;
    height: 749px;
}

.home-text h4 {
    font-size: 3rem;
    font-weight: 300;
    font-family: var(--poppins-font);
    text-align: center;
    margin-bottom: 1rem;
}
.home-text span {
    font-size: 5rem;
    font-family: var(--font-style);
    font-weight: 800;
    text-align: center;
    color: var(--sec-color);
}.home-text p {
    font-size: 3rem;
    font-weight: 300;
    font-family: var(--poppins-font);
    text-align: center;
    margin-top: 1rem;
}

.btn-down {
    position: absolute;
    bottom: 14rem;
    right: 49%;
}

/* About Section */
.about {
    background-color: var(--bg-color);
    color: var(--main-color);
    height: 1000px;
}
.about div h1{
    font-size: 3.5rem;
    font-family: var(--font-style);
    text-align: center;
    padding-top: 1rem;
}
.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 7em;
}
.about-content img {
    border-radius: 14px;
    width: 478px;
    height: 528px;
}
.about-box {
    padding-left: 16em;
}
.about-text {
    text-align: left;
    justify-content: center;
}
.about-text span {
    font-size: 3rem;
    font-weight: 700;
}
.about-text p {
    font-size: 1.4rem;
    text-align: justify;
    padding-top: 1em;
    padding-right:18.5em;
}
.btn-down2 {
    position: absolute;
    padding-top: 4rem;
    right: 49%;
}

/* Portfolio Section */
.portfolio {
    background-color: var(--btn-color);
    color: var(--sec-color);
    height: 1026px;
    content: '';
}
.portfolio div h1{
    font-size: 3.5rem;
    font-family: var(--font-style);
    text-align: center;
    padding-top: 1rem;
}
.btn-down3 {
    position: absolute;
    padding-top: 44rem;
    right: 49%;
}

/* Contact Form Section*/
.contact-form {
    height: 870px;
    background-color: #93B1A6;
}
.head-contact h1 {
    font-size: 3.5rem;
    font-family: var(--font-style);
    padding-top: 1rem;
}
.head-contact p {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 2rem;
}
.form {
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50,-50%);
    position: relative;
}
form {
    margin: 35px;
}
.form-element {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 10px;
}
.textarea-field {
    height: 150px;
    padding-top: 10px;
}
.submit-group input {
    border-radius: 10px;
    color: var(--text-color);
    margin-top: 18px;
    padding: 10px;
    background-color: var(--main-color);
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.social-media {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.social-media a {
    color: #040D12;
}


/* Footer */

.footer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #93B1A6;
    padding-bottom: 25px;
}